/* Style all images using the box model. At a minimum use border, padding, and border-radius.

Apply the grid property to at least one parent element. Use at least two columns, but feel free to use more!

Apply the flex property to at least one parent element. The navigation bar is one place to use flex. You can also use it on images if you would like.

Update at least one element using the hover pseudo-class. Make sure that the hover property does something interesting. I encourage you to do an internet search on some common transitions and try those.

Implement the nth-child selector. In my example I used this on the flex page where I gave every other image a different border-radius. Don't forget, if you are styling an advanced selector it can be a little trickier to use the pseudo-classes. Work slowly and carefully. */

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 150%;
}

/* Visible when focused */
.skip{
    position: absolute;
    top: -40px;
    left: 10px;
    background-color: #006400;
    color: #ffffff;
    padding: 8px;
    text-decoration: none;
}

.skip:focus {
    top: 10px;
}
/* nav section */

header {
  background-color: #99ff99;
  text-align: center;
  display: flex;
  justify-content: center;
}

nav {
  width: 85%;
  text-align: center;
  display: flex;
  justify-content: center;

}

.navbar {
  display: flex;
  gap: 4rem;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: #000000;
}

section {
  color: #ffffff;
  font-size: 100%;
}

.navbar a:hover {
    background-color: #006400;
    color: #ffffff;
    padding: 10px;
    
}

section a {
  font-style: italic;
  color: #ffffff;
  font-style: italic;
}

.right{
  background-color: #006400;
}

.home_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  background-color: #99ff99;
  font-size: 15px;
  text-align: center;

}

h1 {

  font-family: cursive;
  color: #ffffff;
}

p {
  line-height: 30px;
}

/* index  */

#index_content {
  width: 100%;
  height: fit-content;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}

.index_container {
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  text-align: center;
}

.index_container img {
  width: 100%;
  border-radius: 12px;
}

.index_container .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
}

/* neighbourhook walks */
#content,#parkcontent{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.content_container{
  width: 85%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2rem;
  align-items: center;
}

.content_container img{
  width: 100%;
  border-radius: 10px;
}

/* walks in the park */
.parkcontent_container{
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.parkcontent_container img{
  width:18%;
}

.parkcontent_container img:nth-child(even){
  border-radius: 70px;
}

